body {
  background-color: rgb(30, 30, 30);
  touch-action: none;
  overflow-x: hidden;
  background-attachment: fixed;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -ms-touch-action: none; 
  user-select: none;
  scrollbar-width: none; 
}

.hatebtn {
  background-color: rgb(19, 127, 222);
  font-family: Geologica;
  font-size: 16px;
  color: white;
  border: none;
  width: 90%;
  height: 45px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  max-width: 400px;
  transform: translate(-50%, -50%);
}

.heeloinf {
  font-family: Geologica;
  color: white;
  font-size: 24px;
}

.scrollbar {
  overflow-x: hidden;
  -ms-overflow-style: none;
}

.scrollbar::-webkit-scrollbar { width: 0; }

